.orders {

    .order {
        width: 100%;
        background-color: whitesmoke;
        border-left: 8px solid $yellow;
        padding: 5px 10px;
        height: 80px;
        margin: 10px 0;
        border-radius: 3px;
        display: flex;

        .table {
            font-weight: bold;
        }

        .actions {
            margin-left: auto;
            margin-right: 0;
            height: 100%;
            padding: 3px;
            border-radius: 3px;
            color: rgb(170, 12, 12);

            i,
            svg {
                font-size: 20px;
            }
        }
    }
}

.orders-container {
    margin-top: 20px;

    .table-wrapper {

        table.orders-table {
            width: 100%;
            max-width: 100%;
            background-color: transparent;
            border-collapse: collapse;


            border: 1.5px solid #dee2e6;


            thead {
                display: table-header-group;
                vertical-align: middle;
                border-color: inherit;


                tr {
                    display: table-row;
                    vertical-align: inherit;
                    border-color: inherit;

                    th {
                        border-color: #e9e9e9;
                        padding: 12px 15px;
                        vertical-align: middle;
                        border: 1.5px solid #dee2e6;
                        text-align: inherit;
                    }
                }
            }

            tbody {
                display: table-row-group;
                vertical-align: middle;
                border-color: inherit;

                tr {
                    display: table-row;
                    vertical-align: inherit;
                    border-color: inherit;

                    td {
                        border-color: #e9e9e9;
                        padding: 12px 15px;
                        vertical-align: middle;
                        border-top: 1px solid #dee2e6;
                        text-align: inherit;
                        font-size: 17px;

                        i,
                        svg {
                            font-size: 17px;
                        }

                        &.td-actions {
                            width: 220px;
                        }

                        input.quantity {
                            border: 0.5px solid lightgrey;
                            padding: 6px;
                            width: 100%;
                        }

                        .form-delete {
                            display: inline-block;
                        }

                        .btn {
                            border: 1px solid black;
                            color: black;
                            font-size: 15px;
                            font-weight: normal;
                            background-color: #fff;

                            &.btn-delete {
                                color: rgb(194, 21, 56);
                                font-weight: bold;
                                border: 3px solid rgb(194, 21, 56);
                            }

                            &.btn-edit {
                                color: $gray;
                                border: 3px solid $gray;
                                font-weight: bold;
                            }
                        }

                        input,
                        select {
                            border-radius: 3px;
                            padding: 5px;
                            width: 100%;
                        }

                        a.btn,
                        input.btn {
                            border-radius: 3px;
                            padding: 8px 10px;
                        }
                    }
                }
            }
        }
    }

    .orders-information {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 20px;
        padding: 20px 0;

        .info {
            height: 60px;
            background-color: #fff;
            display: flex;
            align-items: center;
            font-size: 22px;
            text-transform: uppercase;
            border-radius: 3px;
            padding: 0 10px;

            .icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50px;
                height: 50px;
                background-color: $yellow;
                border-radius: 50%;
                margin-right: 10px;
            }

            h4 {
                display: inline-block;
                font-size: 24px;
            }
        }
    }


    .title {
        color: white;
        font-size: 23px;
        font-weight: bold;
        padding: 10px 0;
        text-transform: uppercase;
    }

    .orders-bar {
        display: flex;
        align-items: center;

        .btn {
            margin-left: auto;
            margin-right: 0;
        }
    }
}

@media only screen and (max-width: 700px) {
    .orders-container {

        .table-wrapper {

            .table-header {
                display: grid;
                grid-template-columns: auto auto;
                grid-gap: 10px;

                .page-title {
                    display: none;
                }

                form {
                    width: 100%;
                    select {
                        width: 100%;
                    }
                }

                .btn-create {
                    width: 100%;
                }
            }
        }

        .orders-bar {

            .title {
                display: none;
            }

            .btn {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 10px 0;
            }
        }

        .btn {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        td {
            form {
                width: 100%;
            }
        }
    }
}
